footer {
    background-color: #343a40!important;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
  }

  html {
    min-height: 100%;
    position: relative;
  }
  body {
    margin: 0;
    margin-bottom: 80px;
  }