.notFound {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 10em;
    margin:0;
    text-shadow: 0px 5px 10px rgba(0,0,0,0.5);
  /*   0px 5px 10px rgba(0,0,0,0.2 */
      animation: error  5s linear infinite alternate;
  }
  
  @keyframes error {
      0%   {text-shadow: 10px 5px 10px rgba(0,0,0,0.5); }
      25%  {text-shadow: 0px 15px 10px rgba(0,0,0,5.5);}
      50%  {text-shadow: 10px 0px 10px rgba(0,0,0,0.5); }
      75%  {text-shadow: 10px 15px 10px rgba(0,0,0,10.5);}
      100% {text-shadow: 0px 5px 10px rgba(3,0,0,8.5);}

  }
  
  .p {
    font-size: 3em;
  font-family: 'Amaranth', sans-serif;  
  }
  .box-text{
    text-align: center;
      margin-top: 5%;
  }
  